*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f5f5;
    color: #1a1c20;
    font-size:1.1rem;
    max-width: 2000px;
    margin: 0 auto;
}
 
a{
    text-decoration: none;
    color: black;
}

/*Navbar*/
nav {
    display: flex;
    justify-content: space-between; 
    padding: 0 50px;
    align-items: center;
    height: 80px;
    background-color: #f3f5f5; 
    width: 100%;
    position: fixed; /* make navbar always visible so u hide it for the javascript */
    z-index: 999; /*make it rlly high so tht it always appear INFRONT of anything as overlay.*/
    transition: top 0.3s; 
}


nav .left a{    
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    margin: 0 10px;
}

nav .right a:last-child{
    background-color: black;
    color: white;
    padding: 2px 15px;
    border-radius: 5px;
}
nav a:hover {
    color: rgb(0, 94, 216);
}


.hero{
    display:flex;
    justify-content: space-between;
    padding: 100px 50px;
    margin: 50px;
    align-items: center;
}

.hero .text{
    flex: 5;
}

.hero .photo{
    flex: 2; 
    display:flex;
    justify-content: right;
}

.hero .text h1{
    font-size: 44px;
}

.hero .text .links{
    margin-top: 25px;
}

.hero .text .links a{
    display: inline-block; /*makes sure viewport changes will make the anchor links compact together nt individually*/
    padding: 5px 10px;
    border: 2px solid rgba(9, 95, 161, 0.722);
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.hero .text .links a:hover{
    display: inline-block; /*makes sure viewport changes will make the anchor links compact together nt individually*/
    padding: 5px 10px;
    border: 2px solid rgba(6, 48, 81, 0.722);
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgb(214, 214, 214);
    color: blue;
}

.hero .photo img{
    border-radius: 50%;
    border-color: #1a1c20;
}
@media (max-width: 600px) { /*Any width that is lower than 600px will use this css*/
    nav {
        padding: 0 20px;
        padding-bottom:20px;
    }

    nav .right a span{
        display: none; /*Hide the span text*/
    }

    nav .right a:last-child{
        background-color: transparent;
        color: black;
    }
    
    .hero{
        padding: 0 20px;
        margin-bottom: 55px;   
    }

    .hero .text h1{
        font-size: 30px;
    }

    .skills {
        padding:0 20px;
    }

    .skills .cells .cell span{
        font-size: 16px;
    }

    .contact{
        padding: 0 20px;
    }

    .project{
        padding: 20px 20px;
    }

    .whackamole .image{
        display: flex;
        justify-content: center;
        padding: 30px 0;
        height: 200px;
    }
}
@media (max-width: 820px) {
    .hero .text h1{
        font-size: 32px;
    }
}

@media (max-width: 740px) {
    .hero{
        flex-direction: column-reverse;
    }

    .contact .group{
        flex-direction: column;
    }

    .whackamole .image{
        display: flex;
        justify-content: center;
        padding: 30px 0;
        height: 450px;
    }
}

/*Skills*/
.skills {
    padding: 0 50px;
    height:500px;
    padding-top: 90px;
}

.skills h2{
    text-align:center;
    font-size: 35px;
}


.skills .text{
    text-align: justify;
    margin-bottom: 20px;
}

.skills .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 20px;
    border: 1.4px solid rgb(214, 214, 214);
    border-radius: 5px;
    margin: 10px;
}

.skills .cells .cell img{
    width: 50px;
    height: 50px;   
}

.skills .cells .cell span{
    font-size: 18px;
}

/*Projects*/
.projects{
    padding: 50px;
}

.projects h1{
    font-size: 2.5rem;
}

.whackamole{
    padding-bottom: 30px;
}

.whackamole-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whackamole-header h3{
    font-size: 2rem;  /*The title*/
}

.view-more{
    border: 2px solid rgb(214, 214, 214);
    border-radius: 5px;
    padding: 10px 16px;
}
.view-more:hover{
    border: 1.4px solid rgb(214, 214, 214);
    border-radius: 5px;
    background: rgb(203, 201, 201);
}

.whackamole .image{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    height: 650px;
}

.fuzzyImage img {
    height: 750px;
    margin: 15px 0;
}

.fuzzyImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.junair-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.junair-header h3{
    font-size: 2rem;
}


.junairImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.junairImage img {
    height: 750px;
    padding: 20px 0;
}

.junair{
    padding-bottom: 30px;
}

.leJunRong{
    padding-bottom: 30px;
}

.fuzzy{
    padding-bottom: 30px;
}


/* Contact */
.contact{
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact h2{
    font-size: 35px;
}

.contact .group{
    display: flex;
    gap: 50px;
}

.contact .group .text{
    flex:3;
    margin-top: 20px;
}

.contact .group .form{
    flex:3;
    display: flex;
    flex-direction: column;
}

.contact .group .form input,
.contact .group .form textarea{
    font-family: 'Poppins', sans-serif;
    border: 2px solid rgb(52, 66, 112);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline:none;
    resize: none;
    display:flex;
    width: 700px;
}


.contact .group .form button{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    border: none;
    height: 50px;
    background-color: rgb(57, 103, 211);
    cursor: pointer;
    padding: 5px;
}

.contact .group .form button:hover{
    filter: brightness(0.9);

}