*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #eeeff1;
    color: #1a1c20;
    font-size:1.1rem;
}
 
a{
    text-decoration: none;
    color: black;
}

/*Navbar*/
nav{
    display: flex;
    justify-content: space-between; /*space between the divs*/
    padding: 0 50px;
    align-items: center;
    height: 80px;
}

nav .left a{    
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    margin: 0 10px;
}

nav .right a:last-child{
    background-color: black;
    color: white;
    padding: 2px 15px;
    border-radius: 5px;
}
nav a:hover {
    color: blue;
}

@media (max-width: 600px) { /*Any width that is lower than 600px will use this css*/
    nav {
        padding: 0 20px;
    }

    nav .right a span{
        display: none; /*Hide the span text*/
    }

    nav .right a:last-child{
        background-color: transparent;
        color: black;
    }
}

.hero{
    display:flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px;
    align-items: center;
}

.hero .text{
    flex: 5;
}

.hero .photo{
    flex: 2; 
    display:flex;
    justify-content: right;
}

.hero .text h1{
    font-size: 44px;
}

.hero .text .links{
    margin-top: 25px;
}

.hero .text .links a{
    display: inline-block; /*makes sure viewport changes will make the anchor links compact together nt individually*/
    padding: 5px 10px;
    border: 2px solid rgba(9, 95, 161, 0.722);
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.hero .text .links a:hover{
    display: inline-block; /*makes sure viewport changes will make the anchor links compact together nt individually*/
    padding: 5px 10px;
    border: 2px solid rgba(6, 48, 81, 0.722);
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgb(214, 214, 214);
    color: blue;
}

.hero .photo img{
    border-radius: 50%;
    border-color: #1a1c20;
}